<div class="row">
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>minions</p>
        <div class="clearfix">
          <div class="price pull-left">Rs 100</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>
</div>